@model FriendApplication.Models.frd_create
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--@{
}-->

<div class="container">
    <div class="row">
        <div class="form-group">
            <label class="control-label">First Name</label>
            <input asp-for="frd_fname" class="form-control" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Last Name</label>
            <input asp-for="frd_lname" class="form-control" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Mobile No</label>
            <input asp-for="frd_num" class="form-control" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Email Id</label>
            <input asp-for="frd_email" class="form-control" type="text" />
        </div>
    </div>
</div>